.sign-in-up-field {
  /* background-color: yellow; */
  width: 100%;
}
.sign-in-up-field .field-title {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  color: black;
  margin: 0.3rem 0;
  width: 99%;
}
.sign-in-up-field .password-valid {
  margin: 0.3rem 0;
}
.sign-in-up-field input {
  height: 1.7rem;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 0.2rem;
  transition: 0.1s all linear;
  padding-left: 0.5rem;
}
.sign-in-up-field input:focus {
  outline: none;
  box-shadow: 0 0 7px rgb(255, 149, 0);
}
.password-icon {
  position: relative;
  top: -1.8rem;
  right: 1rem;
  float: right;
  color: rgba(0, 0, 0, 0.55);
}
