.popdiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
/* #popdiv-arrow {
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  background-color: blue;
  transform: rotate(45deg);
  transition: 1s all ease-in-out;
}
.popdiv:hover #popdiv-arrow {
  width: 20px;
  height: 20px;
} */
