.signin {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 24rem;
  margin: 0 0 1rem 0;
  /* background-color: green; */
}
.signin-pass__main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1rem 1.7rem;
  border: 1px solid rgba(0, 0, 0, 0.149);
  border-radius: 0.3rem;
  gap: 0.7rem;
  max-width: 24rem;
  width: 86%;
  /* background-color: yellow; */
}
.signin-pass__main h1 {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
